* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container3 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 30px;
}

.item {
    padding: 20px 0px;
}

.mainHead3 {
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 10px;
    font-size: 30px;
}

.subHead3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

.tool {
    padding: 10px 0px;
}


.links {
    padding-left: 100px;
}

.para3 {
    font-family: "Signika Negative", sans-serif;
    font-size: 18px;
    color: rgb(163, 149, 149);
}

.about {
    width: 400px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    color: rgb(223, 165, 57);
}

.footer {
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
}

h5, a, p {
    color: black;
}